NODE_ENV=development
PORT=4000

# MongoDB
MONGO_URI=mongodb://admin:dlnpassword@localhost:27017/dlnlite?authSource=admin

# ML Service
ML_SERVICE_URL=http://localhost:5000

# Fabric
FABRIC_CHANNEL=dlnchannel
FABRIC_CHAINCODE=shipment

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

LOG_LEVEL=info
